@import url("https://fonts.googleapis.com/css?family=Montserrat");

html, body, .header-background{
    width: 100%;
}

body{
    font-family: "Montserrat", sans-serif;
}

.container{
    width: 1160px;
    margin: 0 auto;
}

.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

/* HEADER START */

.header-background{
    background-image: url('../images/bgimg-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-head{
    display: flex;
    flex-wrap: nowrap;
    background-color:  rgba(73, 71, 63, 0.6);
    margin-bottom: 245px;
}

.container-floats{
    box-sizing: border-box;
    width: 250px;;
}

.header-logo{
    position: relative;  
}

.poligon{
    float: left;
    display: inline-block;
    width: 58px;
    height: 67px;
    margin-top: -4px;
    margin-left: 17px;
    position: absolute;
    left: -2px;
    top: 30px;
}

.letter-H{
    float: left;
    display: inline-block;
    width: 26px;
    height: 28px;
    position: absolute;
    left: 31px;
    top: 46px;
}

.header-title{
    display: inline-block;
    color:  #ffffff;
    font-size: 32px;
    font-weight: 400;
    padding: 10px 92px;
}

.green-letters{
    color:  #18cfab;
    font-weight: 700;
    text-align: left;
}

.navbar{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 20px;
}

.nav-link{
    display: inline-block;
    margin-left: 25px;
    color:  #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; 
}

.nav-link:last-child{
    margin-right: 0px;
}

.nav-link:hover{
    color:  #18cfab;
    padding-bottom: 55px;
    border-bottom: 2px solid #18cfab;
}

.search-link{
    display: inline-block;
    margin-left: 25px;
}

.search-link{
    color:  #18cfab;
}

.search-link-img{
    width: 22px;
    height: 22px;
}

.search-link-img:hover{
    color:  #18cfab;
}

.ham-theme{
    color:  #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.green-text{
    color:   #18cfab;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.ham-slogan{
    color:  #ffffff;
    font-size: 79px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 37px;

}

.buy-enjoy{
color:  #d4d4d4;
font-size: 34px;
font-weight: 300;
text-align: center;
}

.header-footer{
    display: flex;
    justify-content: center;
}

.btn{
    width: 120px;
    border-radius: 4px;
    border-top: 4px solid #ffffff;
    color:  #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px;
    margin: 146px 28px 244px;
}

.button-green{
    background-color:  #18cfab;
}

.button-blue{
    background-color:  #00cbf6;
}

/* HEADER END */

/* POSSIBILITIES START*/

.possibilities{
    display: flex;
    flex-wrap: nowrap;
}

.possbty-item{
    float: left;
    width: 480px;
    height: 374px;
}

.text-square{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 120px;
}

.square-theme-option{
    padding-top: 95px;
    padding-bottom: 48px;
    border-top: 7px solid #18cfab;
    background-color:  #1c2a33;
    text-align: center;
}

.theme-option, .support {
    color:  #18cfab;
}

.square-diamond{
    padding-top: 106px;
    padding-bottom: 59px;
    border-top: 7px solid #ffffff;
    background-color:  #18cfab;
    text-align: center;
}

.customizable, .all-device{
    color:  #ffffff;
}

.square-support{
    padding-top: 95px;
    padding-bottom: 49px;
    border-top: 7px solid  #18cfab;
    background-color:   #1c2a33;
    text-align: center;
}

.square-all-device{
    padding-top: 105px;
    padding-bottom: 59px;
    border-top: 7px solid #ffffff;
    background-color:  #18cfab;
    text-align: center;
}